.addMenu-outer-container
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    position: absolute;
    height: 300px;
    width: 250px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.35); /* Adjust the values as needed */

}

.addMenu-title-container, .addMenu-submit-container, .addMenu-desc-container
{
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 60px;
    width: 230px;
    background-color: #efeeee;
    border-radius: 5px;
}

.addMenu-icon-container
{
    display: flex;
    flex-direction: row;
    align-content: center;

    height: 80px;
    width: 230px;
    background-color: #efeeee;
    border-radius: 5px;
}

.addMenu-icon-container img {
    max-height: 40%; /* Set a maximum height to fit within the container */
    max-width: 40%; /* Set a maximum width to maintain aspect ratio */
    margin: auto;
}

.addMenu-icon-container img:hover{
    border: 2px solid gold;
}


.addMenu-submit-container
{
    color: white;
    background-color: #e74c3c;
}

.addMenu-submit-container:hover
{
    background-color: #Ae1906;   
}

.addMenu-submit-btn
{
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  text-decoration: none;

}

.addMenu-title-text,.addMenu-description-text,.addMenu-Icon-text
{
    align-self: flex-start;
}

.inputBox
{
    border: none;
}